/*login page */

.loginBody {
  background: #ffbb54;
  height: 100%;
  width: 100%;
  top: 0;
}

.innerContainer {
  display: block;
  margin: 0px auto; 
}

.logoContainer{
  width: 300px;
  margin: auto;
  text-align: center;
  margin-top: 1.5em;
}

.outerContainer {
  width: 100%; 
}

#authentificationBoxTitle {
  margin-top: -0.8em;
  margin-bottom: 0.4em;
  font-size: 1.3em;
}

.authentificationBox {
  font-family: Montserrat;
  background-color: white;
  padding: 2em 2em;
  margin-top: 1.5em;
  border-radius: 1em;
  border: 0.3em solid white;
  color: black;
      width: 23em;
}

label {
  display: inline-block;
  max-width: 100%;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 0em;
}

.field {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 4px;
  height: 45px !important;
  font-size: 16px !important; 
  padding-left: 0.4em;
  text-transform: lowercase;
  box-shadow: none;
  border: 0.1em solid #ffbb54;
}

.formControl:focus {
  border-color: #ffbb54;
  box-shadow: none;
}

.inputField {
  margin-bottom: 10px; }

label {
  font-size: 16px; }

.loginButton {
  font-size: 16px;
  margin-top: 30px;
  font-size: 16px;
  margin-top: 1em;
  background: #ffbb54;
  border-color: #ffbb54;
  border-radius: 2em;
  width: 7em; 
}

.resetButton {
  width: 10em;
  border-radius: 3em;
  margin-bottom: 1em;
}

.loginButton:hover {
  background: #ffbb54;
  border-color: #ffbb54; 
}

.extraText {
  font-size: 79%;
}

.links {
  color: #ffbb54; 
}


.links:hover {
  color: black; 
}

.links:focus {
  color: black; 
}

.help-inline {
  font-size: 0.8em;
  margin-left: 0.4em;
}

.alert-warning {
  color: black;
  background-color: #ffe086;
  padding: .5em;
  font-size: .8em;
  margin-bottom: 1em;
  margin-top: 1.3em;
  box-shadow: none;
  border: none;
}

.close {
  font-weight: 400;
  margin-top: -0.3em;
  margin-right: -0.1em;
  color: black;
  opacity: 1;
  text-shadow: none;
}

.createAccount{
  width: 30em; 
}

.custom {
  width: 20em;
}

.small {
  font-weight: 400;
}

.long {
  width: 25em;
}

.mail {
  color: #ffbb54;
}

.mail:hover {
  color: #ffbb54;
  text-decoration: underline;
}

.privacyNotice {
  font-weight: 400;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.createAccBtn {
  margin-left: 8em;
}

@media screen and (max-width: 420px) {
  .authentificationBox {
    width: 390px; 
  } 
  
  #authentificationBoxTitle {
    font-size: 30px; 
  }

  label {
    font-size: 20px; }

  .loginButton {
    font-size: 15px;
    padding: 5px 5px; 
  }

  .field {
    height: 50px !important;
    font-size: 20px !important; 
  }
  
  .long, .custom {
    width: 15em;
  }

  .createAccBtn {
    margin-left: 4em
  }

}
  
@media screen and (max-width: 375px) {
  .authentificationBox {
    width: 320px; 
  } 

  .createAccount {
    padding: 1em 1em;
  }

  .long, .custom {
    width: 13.5em;
  }

  .smallerText {
    font-size: 16px;
  }

  .small {
    font-size: 80%;
  }

  .createAccBtn {
    margin-left: 3.5em;
  }
}   

@media screen and (max-width: 360px) {
  .authentificationBox {
    width: 340px; 
  } 

  .long, .custom {
    width: 14.5em;
    height: 2em!important;
  }

  .createAccBtn {
    margin-left: 4em;
  }

  .createTitle {
    padding-top: 0.4em;
  }
}  

@media screen and (max-width: 320px) {
  .authentificationBox {
    width: 300px; 
  } 

  .long, .custom {
    width: 12.5em;
    height: 2em !important;
  }

  .createAccBtn {
    margin-left: 3em;
  }


}    



/*# sourceMappingURL=login.css.map */
