.mainWordsContainer {
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

a:hover {
    cursor: pointer;
}

.customP {
    margin-block-start: .4em;
}

.wordsHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.titleHeader {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: black;
}

.pagesContainer{
    text-align: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.wordpagesLinks {
    color:black;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.wordpagesLinks:hover {
    color: #ffbb54;
}

.wordpagesLinks:focus {
    color: black;
}

.wordpagesLinks.active {
    text-decoration: underline;
}

.seperator {
    color: #ACACAC;
    font-size: 1.5em;
    font-weight: 200;
}

.topMessageContainer{
    text-align: center;
    margin: auto;
    background-color: #ffbe007a;
    border-radius: 0.9em;
}

.topMessage {
    padding: 1em;
    font-family: Montserrat;
    font-size: 0.8em;
    font-weight: 300;
    color: black;
}

.dateContainer {
    background-color: #ffbb54;
    text-align: center;
    width: 15em;
    height: 1.5em;
    border-radius: 1em;
}

.date {
    font-family: Montserrat;
    font-weight: 300;
    font-size: .8em;
    padding-top: .3em;
    color: black;
}

.articleContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;;
}

.verticalLine {
    margin-left: 1em;
    width: 3px;
    height: 50px;
    float: left;
    background-color: #ffbb54;
    margin-top: 0.5em;
}

.titleContainer{
    width: 570px;
    float: left;
}

.articleTitle {
    font-family: Montserrat;
    font-size: .9em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-weight: 400;
    color: black;
}

.openArticle {
    background-color: #ffbb54;
    background-color: #ffbb54;
    height: 2em;
    width: 5em;
    border-radius: 2em;
    text-align: center;
    margin-top: 1em;
    margin-right: 1em;
}

.open {
    color: black;
}

.open:hover {
    color: black;
    font-weight: 400;
}

.openButton {
    float: left;
    padding-left: 0em;
    height: 1.5em;
    width: 4em;
    margin-top: 0.7em;
    background-color: #ffbb54;
    border-radius: 1em;
    text-align: center;
}

.openArticle{
    font-family: Montserrat;
    font-size: 0.7em;
    font-weight: 300;
    color: black;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td { 
    border: none;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.table {
    width: 90%;
    max-width: 100%;
    margin-left: 2em;
    margin-bottom: 0;
}

.impression {
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: 300;
    color: black;
    text-transform: lowercase;
    margin-left: -1em;
}

.StarredContainer {
    display: flex;
    justify-content: space-between;
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: 300;
    width: 100%;
    height: 4em;
    margin-top: 0.6em;
    margin-left: 1em;
}

.one {
    float: left;
    height: 45px;
}

.two {
    float: left;
    margin-left: 0.7em;
    margin-top: 1.3em;
}

.three {
    float: left;
    flex-grow: 2;
    overflow: hidden;
    margin-left: 1em;
    margin-top: 1.45em;
}

.four {
    text-align: center;
    float: left;
    width: 5em;
    height: 1.5em;
    border-radius: 2em;
    margin-top: 1.1em;
}

.five {
    float: right;
    margin-top: 1.3em;
    margin-right: 3em;
}

.rank {
    color: #ffbb54;
    font-size: .8em;
    font-weight: 500;
    width: 1.5em;
    border: .1em solid #ffbb54;
    margin-top: 1.3em;
    margin-right: 5em;
}

.rank p {
    line-height: 1.5em;
    margin-block-start: 0.1em;
}

.one.trash {
    margin-top: 1.16em;
}

.topWords {
    margin-left: 2em;
    height: 3.5em;
}

.importance {
    font-family: Montserrat;
    font-size: 0.8em;
    text-align: right;
    color: black;
    margin-top: 1em;
    margin-bottom: -0.5em;
}

.learnedWordsContainer {
    font-family: Montserrat;
}

.amount {
    text-align: center;
    font-size: 0.8em;
    color: black;
    margin-top: 1em;
}

.oneLearnedWord {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.learnedWords {
    flex-grow: 2;
    margin-top: 1em;
    margin-left: 1em; 
}

.translation {
    font-size: 0.9em;
    color: black;
    text-transform: lowercase;
    font-weight: 300;
    margin-bottom: 0.5em;
}

.learnedDate {
    font-size: 0.8em;
    font-weight: 300;
}

.deleteLearned {
    margin-top: 1em;
    margin-right: 1em;
    font-size: 0.9em;
}

.learned {
    height: 4em;
}

.top {
    margin-right: 1em;
    margin-left: 0em;
}

@media only screen and (max-width: 1024px) {
    
    .pagesContainer {
        font-size: .7em;
    }

}

@media (min-width: 992px) {
    
    .mainWordsContainer{
        margin-left: 22em;
        float: left;
        width: 50%;
    
    }
}

@media only screen and (max-width: 414px) {

    body {
        margin: 0px !important;
    }

    .mainWordsContainer{
        margin-left: 0em !important;
    }

    .wordsHeader {
        padding-bottom: 0.5em;
        position: relative;
    }

    .pagesContainer {
        font-size: .62em;
        margin-left: -5em;
        margin-right: -5em;
    }

    .dateContainer {
        margin: auto;
    }

    .verticalLine {
        margin-left: 0em;
    }

    .openArticle {
        width: 7em;
        margin-right: 0em;
    }

    .table {
        margin-left: 1em;
    }

    .StarredContainer {
        height: 3em;
        margin-top: .8em;
    }

    .translation {
        font-size: .8em;
    }

    .learnedDate {
        font-size: .7em;
    }

    .learned {
        height: 3.5em;
    }

    .topMessage {
        font-size: .7em;
    }

    
}

@media only screen and (max-width: 375px) {

    .titleHeader {
        margin-top: 1em;
    }

    .pagesContainer {
        margin-top: 2em;
        margin-right: -1em;
        margin-left: -1em;
        font-size: 0.64em;
    }

    .wordpagesLinks {
        margin-right: 0em;
        margin-left: 0em;
    }

    .learnedWords {
        margin-left: 0.4em;
    }

    .learnedDate {
        font-size: .66em;
    }

    .StarredContainer {
        margin-left: 1em;
    }
    
    .rank {
        margin-right: 3em;
    }

    .openArticle {
        width: 8em;
    }
    
    .articleTitle {
        font-size: .8em;
        margin-top: 0.7em;
        margin-left: 0.5em;
    }

    .dateContainer {
        margin-bottom: 1em;
        width: 15em;
    }

}

@media only screen and (max-width: 360px) {

    .titleHeader {
        font-size: 1.5em;
    }

    .pagesContainer {
        font-size: 0.61em;
    }

    .topMessage {
        font-size: .66em;
    }
    
    .importance {
        font-size: 0.6em;
        margin-right: -0.7em;
        margin-bottom: -1.5em;
    }

    .topWords {
        margin-left: 0.5em;
    }

    .rank {
        margin-right: 1.5em;
    }

    small {
        font-weight: 400;
        font-size: 75%;
        color: black;
    }

    .verticalLine {
        width: 4px;
    }

    .topMessage {
        font-size: 0.65em;
    }

    .one {
        width: 3px;
    }

    .top {
        width: 3px;
        margin-right: 0.5em;
    }

    .trash {
        margin-right: 0.5em;
    }

}

@media only screen and (max-width: 320px) {

    .pagesContainer {
        font-size: .54em;
    }

    .topMessage {
        font-size: .58em;
    }

    .topWords {
        height: 3em;
    }

    .learned {
        width: 0.1em;
        height: 4em;    
    }
    
    .translation {
        font-size: .7em;
    }

    .learnedDate {
        font-size: 0.65em;
    }

    .deleteLearned {
        margin-right: 0em;
    }

    .impression {
        font-size: .8em;
    }

    .open {
        font-size: .9em;
    }

    .openArticle {
        height: 1.8em;
    }

}