.wordsHeader {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-bottom: 1em;
}

.titleHeader {
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    color: black;
}

.pagesContainer{
    text-align: center;
    text-align: center;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.wordpagesLinks {
    color:black;
    margin-right: 0.7em;
    margin-left: 0.7em;
}

.wordpagesLinks:hover {
    color: black;
    font-weight: 400;
    font-size: 1em;
}

.wordpagesLinks.active {
    text-decoration: underline;
}

.wordpagesLinks.active:hover {
    text-decoration: underline;
    color: black;
    font-weight: 300;
    font-size: 1em;
}

.seperator {
    color: #ACACAC;
    font-size: 1.5em;
    font-weight: 200;
}

.topMessageContainer{
    text-align: center;
    margin: auto;
    background-color: #ffbe007a;
    border-radius: 0.9em;
}

.topMessage {
    padding: 1em;
    font-family: Montserrat;
    font-size: 0.8em;
    font-weight: 300;
    color: black;
}

.dateContainer {
    background-color: #ffbb54;
    text-align: center;
    width: 12em;
    height: 1.5em;
    border-radius: 1em;
}

.date {
    font-family: Montserrat;
    font-weight: 300;
    font-size: .8em;
    padding-top: 0.5em;
    color: black;
}

.articleContainer {
    width: 700px;
    overflow: hidden;
    margin-top: 0.5em;;
}

.verticalLine {
    margin-left: 1em;
    width: 3px;
    height: 50px;
    float: left;
    background-color: #ffbb54;
    margin-top: 0.5em;
}

.titleContainer{
    width: 570px;
    float: left;
}

.articleTitle {
    font-family: Montserrat;
    font-size: 0.9em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    font-weight: 400;
    color: black;
}

.articleTitle a {
    color: black;
}

.openButton {
    float: left;
    padding-left: 0em;
    height: 1.5em;
    width: 4em;
    margin-top: 0.7em;
    background-color: #ffbb54;
    border-radius: 1em;
    text-align: center;
}

.openArticle{
    font-family: Montserrat;
    font-size: 0.7em;
    font-weight: 300;
    color: black;
}

.table>thead>tr>th, 
.table>tbody>tr>th, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>tbody>tr>td, 
.table>tfoot>tr>td { 
    border: none;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}

.table {
    width: 90%;
    max-width: 100%;
    margin-left: 2em;
    margin-bottom: 0;
}

.impression {
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: 300;
    color: black;
    text-transform: lowercase;
}
