@media screen and (max-width: 500px) {

    body{
        position: unset !important;
    }
    .teamMembers {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex: 1 2 3;
        flex-flow: wrap;
    }

    .logoContainer h2 {
        margin: 0;
        margin-bottom: 2em;
        font-size: 1em;
        padding: 0.5em 1em;
    }

    .teamContainer h1 {
        font-size: 1.6em;
        font-weight: 500;
    }

    .howTo{
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        flex-wrap: wrap;
    }

    .howTo h1 {
        padding-top: 1.5em;
        font-size: 1em;
        padding-bottom: .5em;
        padding: 1em;
    }
    .containers{
            flex: 1 2 3;
            width: inherit;
            display: inline-flex;
            flex-wrap: wrap;
    }

    .htContainer {
        background: white;
        color: black;
        width: fit-content;
        height:fit-content; 
        margin: 1em;
        text-align: center;
        border-radius: 3em;
    } 

    .htContainer h3 {
        font-size: 1em;
        font-weight: 500;
        padding-top: 1em;
        padding: 0.6em 2em;
    }

    .other{
        display: flex;
        justify-content: center;
        flex-flow: wrap;
    }

    .articleContain{
        display: block;
        text-align: center;
    }

    .article {
        border: .05em solid black;
        width: 82vw;
        margin-left: auto;
        margin-right: auto;
    } 

}