

@font-face {
    font-family: "Myriad Pro";
    src: url("/static/font/myriad-pro/MYRIADPRO-REGULAR.OTF");
}

@font-face {
    font-family: "Myriad Pro Bold";
    src: url("/static/font/myriad-pro/MYRIADPRO-BOLD.OTF");
}

@font-face {
    font-family: "Myriad Pro Semibold";
    src: url("/static/font/myriad-pro/MYRIADPRO-SEMIBOLD.OTF");
}

@font-face {
    font-family: "Myriad Pro Squezed";
    src: url("/static/font/myriad-pro/MYRIADPRO-COND.OTF");
}

@font-face {
    font-family: "Londrina Sketch";
    src: url("/static/font/londrina_sketch/LondrinaSketch-Regular.ttf");
}

@font-face {
    font-family: "Ostrich";
    src: url("/static/font/ostrich-sans/ostrich-regular.ttf");
}

@font-face {
    font-family: "Ostrich Bold";
    src: url("/static/font/ostrich-sans/ostrich-black.ttf");
}

@font-face {
    font-family: "Colaborate";
    src: url("/static/font/Colaborate/ColabMed.otf");
}
