{% extends "bookmarks/layout_bookmarks.html" %}

{% from "layout_common.html" import no_words_yet %}

{% set active_page = "starred" %}

{% block body %}

    <div class="col-md-offset-2 col-md-8">


        {% if bookmarks %}

            {{ top_message("All starred words appear here") }}

            <table class="table table-striped table-no-borders">

                <thead>
                <td></td>
                <td></td>
                <td>
                    <small></small>
                </td>
                <td></td>
                <td>
                    <small>K-Level</small>
                </td>

                </thead>


                        {% for bookmark in bookmarks %}

                                <tr id="bookmark{{ bookmark.id }}">
                                    <td style="border:0px solid white;background-color:white;"></td>
                                    <td class="word-action-buttons-td">
                                        <div class="word-action-buttons">

                                            <div id="star{{ bookmark.id }}">
                                                {% if bookmark.starred %}

                                                    <a href="javascript:void(0);"
                                                       onclick="unstarBookmark({{ bookmark.id }})">
                                                        <i style="color:gold" class="icon-star"></i>
                                                    </a>

                                                {% else %}
                                                    <a href="javascript:void(0);"
                                                       onclick="starBookmark({{ bookmark.id }})">
                                                        <i style="color:lightgray" class="icon-star-empty"></i>
                                                    </a>
                                                {% endif %}
                                            </div>

                                        </div>

                                    </td>
                                    <td colspan="2" class="word-details-td">
                                        <div class="impression">

                                            <b>{{ bookmark.from_ }}</b>
                                            -
                                            <b>{{ bookmark.to }}</b>
                                            <br/>
                                            <small>{{ bookmark.context }}</small>
                                        </div>
                                    </td>

                                    <td style="text-align: right">
                                        {{ bookmark.origin_rank | safe }}
                                    </td>

                                    <td style="text-align: right;">

                                        <a href="javascript:void(0);" onclick="deleteBookmark({{ bookmark.id }})"
                                           id="trash">
                                            <i class="icon-trash button-disabled"></i>
                                        </a>


                                    </td>


                                </tr>
                        {% endfor %}

            </table>

            </div>
        {% else %}
            {{ no_words_yet() }}
        {% endif %}
{% endblock %}
