{% from "common_layout.html" import menu_item, flash_messages, header %}

<html>

    {{ header() }}

    <body>

    {% if not mobile %}

    <nav class="navbar navbar-default menu-cassette">
        <div class="container-fluid">
            <!-- The menu options on the right... -->
            <ul class="nav navbar-nav navbar-right" >
                {% if g.user %}
                    <!-- When user logged in, show the dropdown -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.name }}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.stats') }}">My Statistics</a></li>

                            {% if is_teacher %}
                                <li><a href="{{ url_for('account.cohorts') }}">My Students</a></li>
                            {% endif %}

                            <li><a href="{{ url_for('account.logout') }}">Sign Out</a></li>

                        </ul>
                    </li>
                {% elif tab != "login" and tab != "create_account" %}
                    <!-- Don't show login on the login and create_account page :) -->
                    <li id="login"><a href="{{ url_for('account.login') }}">Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endif %}

    {% block body %}{% endblock %}

    </body>
</html>
