{% from "layout_common.html" import menu_item, flash_messages, header, home_link, dropdown_menu %}

<html>

    {{ header() }}

    <body>

    {% if not mobile %}

    <nav class="navbar navbar-default menu-cassette">

        <div class="container-fluid">

            <ul class="nav navbar-nav">
                {{  home_link() }}

                <li id="left_dropdown" class="dropdown">
                    {{ dropdown_menu() }}
                </li>

            </ul>

            <!-- The dropdown menu on the right... -->
            <ul id="right_dropdown" class="nav navbar-nav navbar-right" >


                <!-- When user logged in, show the dropdown -->
                {% if g.user %}

                <li id="user_dropdown" class="dropdown">
                    {{ dropdown_menu() }}
                </li>

                <!-- Don't show login on the login and create_account page -->
                {% elif active_page != "login" and tab != "create_account" %}

                    <li id="login"><a href="{{ url_for('account.login') }}">Sign In</a></li>

                {% endif %}
            </ul>
        </div>
    </nav>
    {% endif %}

    {% block body %}{% endblock %}

    </body>
</html>
