<!------------------------------------>
<!-- Jinja Macros Used on this Page -->
<!------------------------------------>

    {% macro menu_item(tab_name, url, text) -%}
        <li class="{% if tab == tab_name %} active {% endif %}"><a href="{{ url_for(url) }}">{{ text }}</a></li>
    {%- endmacro %}

    {% macro flash_messages() -%}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {%- endmacro %}

<!------------------------------------>
<!-- Macros Used on this Page       -->
<!------------------------------------>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Zeeguu</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        {% assets filters="cssmin", output="instance/style.css", "css/bootstrap/bootstrap.css", "css/libs/select2.css", "css/libs/font-awesome.css", "css/special-fonts.css", "css/libs/flippant.css", "css/style.css",  "css/homepage.css", "css/recognize.css", "css/layout.css"-%}
            <link rel="stylesheet" href="{{ ASSET_URL }}" />
        {% endassets -%}

        {% assets "js/jquery.js", "js/jquery.validate.js", "js/bootstrap.js", "js/flippant.js", "js/select2.js", "js/sla.js" -%}
            <script src="{{ ASSET_URL }}"></script>
        {% endassets -%}
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
    </head>

    <body>

    {% if not mobile %}


    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('account.my_account') }}">
          <img id="zeeguu-logo" src="../static/img/elephlogo-alone.png" alt="ZeeGuu" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

            {{ menu_item ("bookmarks", "account.bookmarks", "Past Translations") }}
            {{ menu_item ("readingroom", "account.reading", "Reading Articles") }}
            {{ menu_item ("exercises", "exercises.exercises", "Vocabulary Exercises") }}

      </ul>

      <ul class="nav navbar-nav navbar-right">

          <!--<li><a href="#">Help</a></li>-->

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ g.user.name }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('account.my_account') }}">My Account</a></li>
            <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


    <!--<nav class="navbar navbar-default menu-cassette">-->
        <!--<div class="container-fluid">-->
            <!--&lt;!&ndash; The Menu Options on the Left &ndash;&gt;-->
            <!--<ul class="nav navbar-nav">-->
                <!--&lt;!&ndash; The Icon &ndash;&gt;-->
                <!--{% if tab != "home" %}-->
                    <!--<li><a href="{{ url_for('account.my_account') }}"><img id="zeeguu-logo" src="../static/img/elephlogo-alone.png" alt="ZeeGuu" /></a></li>-->
                <!--{% endif %}-->

                <!--{% if g.user and tab != "install" %}-->
                    <!--{{ menu_item ("bookmarks", "account.bookmarks", "Translations") }}-->
                    <!--{{ menu_item ("readingroom", "account.reading", "Reading") }}-->
                    <!--{{ menu_item ("exercises", "exercises.exercises", "Exercises") }}-->
                <!--{% endif %}-->

            <!--</ul>-->


            <!--&lt;!&ndash; The menu options on the right... &ndash;&gt;-->
            <!--<ul class="nav navbar-nav navbar-right" >-->
                <!--<li>-->
                    <!--<a href="#">Help</a>-->
                <!--</li>-->
                <!--{% if g.user %}-->
                    <!--&lt;!&ndash; When user logged in, show the dropdown &ndash;&gt;-->
                    <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.name }}<b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="{{ url_for('account.my_account') }}">My Account</a></li>-->
                            <!--<li><a href="{{ url_for('account.logout') }}">Sign Out</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--{% elif tab != "login" and tab != "create_account" %}-->
                    <!--&lt;!&ndash; Don't show login on the login and create_account page :) &ndash;&gt;-->
                    <!--<li id="login"><a href="{{ url_for('account.login') }}">Sign In</a></li>-->
                <!--{% endif %}-->

            <!--</ul>-->
        <!--</div>-->
    <!--</nav>-->
    {% endif %}

    {% block body %}{% endblock %}

    </body>
</html>
