{% from "layout_common.html" import menu_item, flash_messages, header, home_link, dropdown_menu %}

<html>

{{ header() }}

<body>

    <!--
{% if not mobile %}

    <nav class="navbar navbar-default menu-cassette">

        <div class="container-fluid">

            <ul class="nav navbar-nav">
                {{ home_link() }}

                <li id="left_dropdown" class="dropdown">
                    {{ dropdown_menu(is_teacher) }}
                </li>

            </ul>

            <ul id="right_dropdown" class="nav navbar-nav navbar-right">

                <li id="user_dropdown" class="dropdown">
                    {{ dropdown_menu(is_teacher) }}
                </li>

            </ul>
        </div>
    </nav>
{% endif %}
-->

    {% block body %}{% endblock %}

</body>

</html>