{% from "layout_common.html" import menu_item, flash_messages, header, home_link, dropdown_menu %}

{% set navigation_bar = [
            ('/top_bookmarks', 'top', 'Top'),
            ('/starred_bookmarks', 'starred', 'Starred'),
            ('/learned_bookmarks', 'learned', 'Learned'),
            ('/bookmarks', 'bookmarks', 'All')
    ] -%}

{% set active_page = active_page|default('top') -%}

<html>

{{ header() }}

<body>




<nav class="navbar navbar-default menu-cassette">
    <div class="container-fluid">

        <ul class="nav navbar-nav navbar-left">

            {{ home_link() }}

            {% for href, id, caption in navigation_bar %}
                <li{% if id == active_page %} class="active"{% endif %}><a href="{{ href|e }}">{{ caption|e }}</a>
                </li>
            {% endfor %}


            <li id="left_dropdown" class="dropdown">
                {{ dropdown_menu() }}
            </li>


        </ul>

        <ul id="right_dropdown" class="nav navbar-nav navbar-right">

            <li id="user_dropdown" class="dropdown">
                {{ dropdown_menu() }}
            </li>


        </ul>

    </div>
</nav>

{% block body %}{% endblock %}

</body>
</html>
