<!------------------------------------>
<!-- Jinja Macros Used on this Page -->
<!------------------------------------>

    {% macro menu_item(tab_name, url, text) -%}
        {% if active_page == tab_name %}
            <li class="active"><a href="{{ url_for(url) }}">{{ text }}</a></li>
        {%  else %}
            <li><a href="{{ url_for(url) }}">{{ text }}</a></li>
        {% endif %}
    {%- endmacro %}

    {% macro flash_messages() -%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning">
                        <button class="close" data-dismiss="alert">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {%- endmacro %}

    {% macro header() -%}
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <title>{{ active_page }}</title>

            <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

            {% assets filters="cssmin", output="instance/style.css", "css/bootstrap/bootstrap.css", "css/libs/select2.css", "css/libs/font-awesome.css", "css/special-fonts.css", "css/libs/flippant.css", "css/style.css",  "css/homepage.css", "css/recognize.css", "css/layout.css"-%}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {% endassets -%}

            {% assets "js/jquery.js", "js/jquery.validate.js", "js/bootstrap.js", "js/flippant.js", "js/select2.js", "js/sla.js" -%}
                <script src="{{ ASSET_URL }}"></script>
            {% endassets -%}
            <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">
        </head>

    {%- endmacro %}


    {%  macro no_words_yet() %}
            <div class="col-md-offset-1 col-md-10">
                <h2>You have not translated any words...</h2>
                <br/>
                <h4>- First <b><a href="/reading">start reading 📚</a></b> with the Zeeguu <a href="/reading">Reader</a></h4>
                <br/>
                <h4>- Or you can also <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">Install
                    the Zeeguu Chrome extension </a><br/>
                    to start translating words on <b>any website </b> you visit.
                </h4>
            </div>
    {%- endmacro %}
