{% extends "layout.html" %}

{% set tab = "my_account" %}

{% block body %}

    <div class="container welcome-message">
        <!--<h2>Hi {{ user.name }}!</h2>-->

            <script src="{{ url_for('static', filename='../static/js/d3.v3.min.js') }}" charset="utf-8"></script>
            <script type="text/javascript"
                    src="{{ url_for('static', filename='../static/js/DIST-zeeguu_learner_graph_module.js') }}"
                    charset="utf-8"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='../static/js/mob_ver.js') }}"
                    charset="utf-8"></script>

            <hr/>

            <zeeguu_graph id="line_graph" autoresize="true"></zeeguu_graph>

            <script>
                var learner_stats_data = JSON.parse({{ learner_stats_data|safe }});
                var window_width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
                line_graph(learner_stats_data, "#line_graph", window_width);
                // save pointer to the input data for resizing purposes
                document.getElementById("line_graph").setAttribute("input_data", "learner_stats_data");
                document.getElementById("line_graph").setAttribute("months_to_show", 12);
            </script>

            <h3>Vocabulary Statistics</h3>

            {% include "gamification/piechart_gamification.html" %}

            <hr/>


        <br/>
        <h4>Smartwatch code: {{ smartwatch_login_code }}</h4>

    </div>






{% endblock %}
