<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/help.css" />

    <title>Der Kleine Prinz - Kapitel 1</title>
</head>


<body>
<div class="content">

    <h1>Der Kleine Prinz - Kapitel 1</h1>

<p>
Als ich sechs Jahre alt war, sah ich einmal in einem Buch über den Urwald, das »Erlebte Geschichten« hieß,
    ein prächtiges Bild. Es stellte eine Riesenschlange dar, wie sie ein Wildtier verschlang.
    </p>

    <p>
In dem Buche hieß es: »Die Boas verschlingen ihre Beute als Ganzes, ohne sie zu zerbeißen. Daraufhin können
    sie sich nicht mehr rühren und schlafen sechs Monate, um zu verdauen.«
        </p>

    <p>
Ich habe damals viel über die Abenteuer des Dschungels nachgedacht, und ich vollendete mit einem Farbstift
    meine erste Zeichnung. Meine Zeichnung Nr. 1. So sah sie aus:
        </p>

    <p>
Ich habe den großen Leuten mein Meisterwerk gezeigt und sie gefragt, ob ihnen meine Zeichnung nicht Angst mache.
        </p>

    <p>
Sie haben geantwortet: »Warum sollen wir vor einem Hute Angst haben?«
        </p>

    <p>
Meine Zeichnung stellte aber keinen Hut dar. Sie stellte eine Riesenschlange dar, die einen Elefanten verdaut.
    Ich habe dann das Innere der Boa gezeichnet, um es den großen Leuten deutlich zu machen. Sie brauchen ja
    immer Erklärungen. Hier meine Zeichnung Nr. 2:
        </p>

    <p>
Die großen Leute haben mir geraten, mit den Zeichnungen von offenen oder geschlossenen Riesenschlangen
    aufzuhören und mich mehr für Geographie, Geschichte, Rechnen und Grammatik zu interessieren.
    So kam es, dass ich eine großartige Laufbahn, die eines Malers nämlich, bereits im Alter von sechs
    Jahren aufgab. Der Misserfolg meiner Zeichnungen Nr. 1 und Nr. 2 hatte mir den Mut genommen.
    Die großen Leute verstehen nie etwas von selbst, und für die Kinder ist es zu anstrengend,
    ihnen immer und immer wieder erklären zu müssen.
    </p>

    <p>
Ich war also gezwungen, einen anderen Beruf zu wählen, und lernte fliegen. Ich bin überall in der Welt
        herumgeflogen, und die Geographie hat mir dabei wirklich gute Dienste geleistet. Ich konnte auf den
        ersten Blick China von Arizona unterscheiden. Das ist sehr praktisch, wenn man sich in der
        Nacht verirrt hat.
        </p>

    <p>
So habe ich im Laufe meines Lebens mit einer Menge ernsthafter Leute zu tun gehabt. Ich bin viel mit
    Erwachsenen umgegangen und habe Gelegneheit gehabt, sie ganz aus der Nähe zu betrachten.
    Das hat meiner Meinung über sie nicht besonders gut getan.
        </p>

    <p>
Wenn ich jemanden traf, der mir ein bisschen heller vorkam, versuchte ich es mit meiner Zeichnung Nr. 1,
    die ich gut aufbewahrt habe. Ich wollte sehen, ob er wirklich etwas los hatte. Aber jedesmal bekam
    ich zur Antwort: »Das ist ein Hut.« Dann redete ich mit ihm weder über Boas, noch über Urwälder,
    noch über die Sterne. Ich stellte mich auf seinen Standpunkt. Ich sprach mit ihm über Bridge, Golf,
    Politik und Krawatten. Und der große Mensch war äußerst befriedigt, einen so vernünftigen Mann
    getroffen zu haben.
    </p>


</div>

</body>
</html>