{% extends "layout.html" %}

{% from "common_layout.html" import no_words_yet %}

{% set active_page = "top" %}



{% block body %}

<script>
    function showInlineAnswer(elem, word, translation) {

        if (elem.text == word + " = " + translation)
            elem.text = word;
        else
            elem.text = word + " = " + translation;
    }
</script>


    <div class="col-md-offset-2 col-md-8">


        {% if bookmarks %}

            <p>
                    <span style="background-color:lightgoldenrodyellow; padding: 4px;">
                        The most important 10 words for you to learn at the moment.
                    </span>
            </p>

            <table class="table table-striped table-no-borders">

                        <thead>
                            <td></td>
                            <td></td>
                            <td><small> </small></td>
                            <td></td>
                            <td><small>Rank</small></td>

                        </thead>

                        {% for bookmark in bookmarks %}

                                <tr id="bookmark{{ bookmark.id }}">
                                    <td style="border:0px solid white;background-color:white;"></td>
                                    <td class="word-action-buttons-td">
                                        <div class="word-action-buttons">

                                            <div id="star{{ bookmark.id }}">
                                                {% if bookmark.starred %}

                                                    <a href="javascript:void(0);"
                                                       onclick="unstarBookmark({{ bookmark.id }})">
                                                        <i style="color:gold" class="icon-star"></i>
                                                    </a>

                                                {% else %}
                                                    <a href="javascript:void(0);"
                                                       onclick="starBookmark({{ bookmark.id }})">
                                                        <i style="color:lightgray" class="icon-star-empty"></i>
                                                    </a>
                                                {% endif %}
                                            </div>

                                        </div>

                                    </td>
                                    <td colspan="2" class="word-details-td">
                                        <div class="impression">


                                            <b>
                                                <a  href="javascript:void(0);" onclick="showInlineAnswer(this,  '{{ bookmark.from_ }}', '{{ bookmark.to }}')">{{ bookmark.from_ }}</a>
                                            </b>

                                            <br/>
                                            <small>{{ bookmark.context }}</small>
                                        </div>
                                    </td>

                                    <td style="text-align: right">
                                        {{ bookmark.origin_rank | safe }}
                                    </td>

                                    <td style="text-align: right;">

                                        <a href="javascript:void(0);" onclick="deleteBookmark({{ bookmark.id }})"
                                           id="trash">
                                            <i class="icon-trash button-disabled"></i>
                                        </a>


                                    </td>


                                </tr>
                        {% endfor %}

            </table>

            </div>
        {% else %}
            {{ no_words_yet() }}
        {% endif %}
{% endblock %}
