{% extends "layout.html" %}

{% set tab = current_tab %}

{% block body %}

    <div class="col-md-offset-1 col-md-10">
        <h1>Welcome, {{ username }}!</h1>
        
        <br/>
        <p>
            Zeeguu is a research project in which we try to make learning the vocabulary of a foreign language more fun.
        </p>

        <p>
            Feel free to email us your ideas for improvement at <a href="mailto:zeeguu.team@gmail.com">zeeguu.team@gmail.com</a>.
        </p>


        <br/>
        <p>
            Yours sicerely,<br/>
            The Zeeguu Team
        </p>

                <!--<h4>- <a href="https://chrome.google.com/webstore/detail/zeeguu/ckncjmaednfephhbpeookmknhmjjodcd">Install the Zeeguu Chrome extension and Android App</a><br/>-->
                    <!--and start translating words on any website you visit.-->
                <!--</h4>-->

{% endblock %}
