{% extends "layout_whatsnext.html" %} {% block body %}

<script>
  function prepare_hideable_message(message_id) {
    $("#hide-message-button").on("click", function(event) {
      $("#" + message_id).hide();
      Cookies.set(message_id, "hidden_by_user");
    });

    if (!Cookies.get(message_id)) {
      $("#" + message_id).show();
    }
  }

  $(document).ready(function() {
    $("#successMessage")
      .delay(5000)
      .slideUp(300);

    prepare_hideable_message($(".hideable-message").attr("id"));
  });
</script>

<div class="container welcome-message">
  <div
    style="margin-left: auto; margin-right:auto; text-align: center; max-width: 300px;"
  >
    {{ flash_messages() }}
  </div>

  <div id="homepagetopspacer"></div>

  <div class="row">
    <div class="col-md-4">
      <a href="{{ url_for('reader_blueprint.articles') }}">
        <h1 id="text-below-eleph-booklover2">Read Articles</h1>
        <img id="eleph-booklover2" src="../static/img/eleph-reader-lover.png" />
      </a>
    </div>

    <div class="col-md-4">
      <a href="{{ url_for('ex_blueprint.index') }}">
        <h1 id="text-below-eleph-redpants2">Exercises</h1>
        <img id="eleph-redpants2" src="../static/img/eleph-sport-dessert.png" />
      </a>
    </div>

    <div class="col-md-4 ">
      <a href="{{ url_for('bookmarks_blueprint.top_bookmarks') }}">
        <h1 id="text-below-eleph-carrier2">See Your Words</h1>
        <img id="eleph-carrier2" src="../static/img/eleph-carrier-words.png" />
      </a>
    </div>
  </div>
</div>

{% endblock %}
