{% set active_page = "about" %}

{% extends "layout_simple_white.html" %}

{% block body %}

{% include  "sideBar.html" %}

<div class="howTo" id="aboutContainer">

    <h1>About Zeeguu</h1>
    <h2>Our approach is designed around three fundamental principles</h2>
    <div class="containers">
        <div class="htContainer aboutHt">
            <h3>Only Read The Stuff You Like</h3>
            <p>
                Unlike most traditional learning materials based on pre-defined, standardized and let's admit
                it: boring texts, we think that you should read only the stuff that you love: eBooks, blogs,
                articles and news in the desired language. In each of these contexts and on any chosen device,
                you should have translations of unfamiliar terms “at the touch of a fingertip”.
            </p>
        </div>

        <div class="htContainer aboutHt">
            <h3>Have Your Words Everywhere With You</h3>
            <p>
                Words that you have once translated, will be available to you always (read as “from any of your
                devices”) and they will go into your own, private dictionary.
                The information about the context where you encountered a given new word will also be
                synchronized among the applications and devices. There is no doubt we understand and remember so
                much better words in context.
            </p>
        </div>

        <div class="htContainer aboutHt">
            <h3>Practice with Personalized Exercices</h3>
            <p>
                Based on the texts you read, the words you translate, and lists of word frequencies, Zeeguu will
                use machine learning to build a model of your current vocabulary in the target language.
                Applying this model and using spaced repetition, you will receive personalized exercises that
                will help you learn, practice and retain the new words, ranked according to their importance.
            </p>
        </div>
    </div>

</div>

{% endblock %}